.calendarioContainer{
    display: flex;
    justify-content: center;
}

.toSpace {
  height: 30px; /* Imposta l'altezza desiderata */
}

.no_bottom {
  margin-bottom: 0 !important;
}

.container {
  width: 100%;
  max-width: 1500px;
}

.meseLabel {
  margin-top: 50px;
  margin-bottom: 10px;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1110px;
  }

  .meseLabel {
    margin-top: 40px;
    margin-bottom: 7px !important;
  }
}   

@media (max-width: 1130px) {
  .container {
    max-width: 990px;
  }

  .meseLabel {
    margin-top: 35px;
    margin-bottom: 7px !important;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .meseLabel {
    margin-top: 30px;
    margin-bottom: 7px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }

  .meseLabel {
    margin-top: 30px;
    margin-bottom: 7px !important;
  }

  .partitaContainer {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 600px;
  }
}