.customPrev,
.customNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  padding: 8px;
}

.customPrev {
  left: 10px;
}

.customNext {
  right: 10px;
}

.marqueeWrapper {
  overflow: hidden;
  width: 100%;
}

.marqueeContent {
  margin-top: var(--margin-top, 30px);
  display: flex;
  width: max-content; /* importante: larghezza contenuto adattiva */
  animation: marquee 20s linear infinite;
}

.personalized_margin{
  margin-top: 45px;
  animation: marquee 25s linear infinite;
}

.title_girone {
  font-size: 33px;
  font-weight: normal;
  color: white;
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  flex-shrink: 0; /* evita ridimensionamento delle immagini */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* metà perché abbiamo duplicato le immagini */
  }
}


.logo_avversari {
  width: var(--logo-size, 150px);
  height: var(--logo-height, 150px);
  transition: transform 0.3s ease-in-out; /* effetto dolce */
  margin-left: var(--margin-between, 120px);
  margin-right: var(--margin-between, 120px);
}

.textWrapper p{
  text-align: left;
  font-size: calc(var(--logo-size, 150px) * 0.2);
  color: white;
  margin-bottom: 0px;
}

.bannerWrapper {
  width: 100%;
  overflow: hidden;
}

.titleWrapper {
  margin-top: 30px;
  text-align: center;
}

.title_campionato {
  font-size: calc(33px * 1.618);
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}



@media (max-width: 1500px) {
  .titleWrapper {
    margin-top: 20px;
  }

  .title_campionato {
    font-size: calc(30px * 1.618);
  }

  .title_girone {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .marqueeContent {
    margin-top: calc(var(--margin-top, 30px) * 0.83333);
  }
}

@media (max-width: 1380px) {
  .personalized_margin{
    margin-top: 35px;
  }
}

@media (max-width: 1220px) {
  .logo_avversari {
    width: calc(var(--logo-size, 150px) * 0.87);
    height: calc(var(--logo-height, 150px) * 0.87);
    transition: transform 0.3s ease-in-out; /* effetto dolce */
    margin-left: calc(var(--margin-between, 120px) * 0.667);
    margin-right: calc(var(--margin-between, 120px) * 0.667);
  }

  .textWrapper p{
    font-size: calc(var(--logo-size, 150px) * 0.166);
  }

  .titleWrapper {
    margin-top: 15px;
  }

  .title_campionato {
    font-size: calc(26px * 1.618);
  }

  .title_girone {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .marqueeContent {
    margin-top: calc(var(--margin-top, 30px) * 0.83333);
  }
}

@media (max-width: 1200px) {
  .personalized_margin{
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .logo_avversari {
    width: calc(var(--logo-size, 150px) * 0.66);
    height: calc(var(--logo-height, 150px) * 0.66);
    margin-left: calc(var(--margin-between, 120px) * 0.42);
    margin-right: calc(var(--margin-between, 120px) * 0.42);
  }

  .textWrapper p{
    font-size: calc(var(--logo-size, 150px) * 0.133);
  }

  .titleWrapper {
    margin-top: 10px;
  }

  .title_campionato {
    font-size: calc(22px * 1.618);
  }

  .title_girone {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .marqueeContent {
    margin-top: calc(var(--margin-top, 30px) * 0.6666);
  }
}

@media (max-width: 850px) {
  .personalized_margin{
    margin-top: 25px;
  }
}


@media (max-width: 700px) {
  .logo_avversari {
    width: calc(var(--logo-size, 150px) * 0.53);
    height: calc(var(--logo-height, 150px) * 0.53);
    margin-left: calc(var(--margin-between, 120px) * 0.27);
    margin-right: calc(var(--margin-between, 120px) * 0.27);
  }

  .textWrapper p{
    font-size: calc(var(--logo-size, 150px) * 0.11);
  }

  .titleWrapper {
    margin-top: 5px;
  }

  .title_campionato {
    font-size: calc(18px * 1.618);
  }

  .title_girone {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .marqueeContent {
    margin-top: calc(var(--margin-top, 30px) * 0.5);
  }
}

@media (max-width: 530px) {
  .personalized_margin{
    margin-top: 23px;
  }
}


@media (max-width: 500px) {
  .logo_avversari {
    width: calc(var(--logo-size, 150px) * 0.4);
    height: calc(var(--logo-height, 150px) * 0.4);
    margin-left: calc(var(--margin-between, 120px) * 0.15);
    margin-right: calc(var(--margin-between, 120px) * 0.15);
  }

  .textWrapper p{
    font-size: calc(var(--logo-size, 150px) * 0.09);
  }

  .titleWrapper {
    margin-top: 0px;
  }

  .title_campionato {
    font-size: calc(15px * 1.618);
  }

  .title_girone {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .marqueeContent {
    margin-top: calc(var(--margin-top, 30px) * 0.3333);
  }
}

