@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.containerSponsor {
   padding-bottom: 50px;
}

.containerTitolo {
   text-align: center;
}

.container_chi_siamo {
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.marginAll{
    padding-top: 55px;
    padding-bottom: 40px;
}

.marginAll_2{
    transform: translateY(-10px);
    padding-bottom: 40px;
}

.img_chi_siamo {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    border: solid 1px white;
}

.svg{
    padding: 50px;
    border: none;
    width: 416px;
    height: 500px;
}

.insta{
    border: none;
    width: 375px;
    height: 375px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.insta:hover {
    transform: scale(1.05);
}

.row_left, .row_right {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container_row_left, .container_row_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_right, .text_left {
    width: 900px;
    text-align: left;
}

.text_right{
    margin-left: 80px;
}

.text_left{
    margin-right: 80px;
}

.p_right, .p_left {
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    color: white;
}

.toShow{
    display: none;
}

.toHide{
    display: flex;
}

.linea {
    border: none;
    border-top: 1px solid white;
    width: 600px;
    margin: 1rem auto;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1500px) {
    .containerSponsor {
        padding-bottom: 50px;
    }

    .container_chi_siamo {
        padding-top: 0;
    }
}

@media (max-width: 1600px) {    
    .img_chi_siamo {
        width: 425px;
        height: 510px;
    }

    .insta{
        width: 350px;
        height: 350px;
    }

    .svg{
        padding: 45px;
        width: 366px;
        height: 440px;
    }

    .marginAll{
        padding-top: 55px;
        padding-bottom: 40px;
    }

    .marginAll_2{
        transform: translateY(-10px);
        padding-bottom: 13px;
    }

    .text_right, .text_left {
        width: 800px;
    }

    .text_right{
        margin-left: 65px;
    }

    .text_left{
        margin-right: 65px;
    }

    .p_right, .p_left {
        font-size: 18px;
    }
}

@media (max-width: 1380px) {    
    .img_chi_siamo {
        width: 350px;
        height: 420px;
    }

    .insta{
        width: 325px;
        height: 325px;
    }

    .svg{
        padding: 40px;
        width: 300px;
        height: 360px;
    }

    .marginAll{
        padding-top: 55px;
        padding-bottom: 40px;
    }

    .marginAll_2{
        transform: translateY(-10px);
        padding-bottom: 0px;
    }

    .marginAll_3{
        padding-top: 17px;
        padding-bottom: 10px;
    }

    .text_right, .text_left {
        width: 700px;
    }

    .text_right{
        margin-left: 57px;
    }

    .text_left{
        margin-right: 57px;
    }

    .p_right, .p_left {
        font-size: 16px;
    }

    .container_chi_siamo {
        padding-bottom: 35px;
    }
}

@media (max-width: 1220px) {
    .containerSponsor {
        padding-bottom: 40px;
    }    
}

@media (max-width: 1200px) {
    .text_right, .text_left {
        width: 600px;
    }

    .marginAll_3{
        padding-top: 40px;
        padding-bottom: 35px;
    }

    .marginAll_2{
        transform: translateY(-10px);
        padding-bottom: 25px;
    }
}

@media (max-width: 1080px) {
    .text_right, .text_left {
        width: 500px;
    }

    .marginAll{
        padding-top: 30px;
        padding-bottom: 27px;
    }

    .marginAll_3{
        padding-top: 43px;
        padding-bottom: 35px;
    }

    .marginAll_2{
        padding-bottom: 33px;
    }

    .p_right, .p_left {
        margin-top: 10px;
    }

    .h3_responsive{
        margin-bottom: 11px !important;
    }

    .container_chi_siamo {
        padding-bottom: 45px;
    }
}

@media (max-width: 992px) {
    .containerSponsor {
        padding-bottom: 30px;
    }

    .text_right, .text_left {
        width: 375px;
    }

    .p_right, .p_left {
        font-size: 14px;
    }

    .text_right{
        margin-left: 45px;
    }

    .text_left{
        margin-right: 45px;
    }

    .marginAll{
        padding-top: 35px;
        padding-bottom: 27px;
    }

    .marginAll_2{
        padding-bottom: 27px;
    }

    .container_chi_siamo {
        padding-bottom: 38px;
    }
}

@media (max-width: 850px) {

    .img_chi_siamo {
        width: 300px;
        height: 360px;
    }

    .insta{
        width: 300px;
        height: 300px;
    }

    .svg{
        padding: 30px;
        width: 270px;
        height: 324px;
    }

    .text_right, .text_left {
        width: 350px;
    }

    .p_right, .p_left {
        font-size: 13px;
        line-height: 18.5px;
    }

    .text_right{
        margin-left: 33px;
    }

    .text_left{
        margin-right: 33px;
    }

    .marginAll{
        padding-top: 27px;
        padding-bottom: 12px;
    }

    .marginAll_2{
        padding-bottom: 25px;
    }

    .marginAll_3{
        padding-top: 28px;
        padding-bottom: 40px;
    }

    .container_chi_siamo {
        padding-bottom: 35px;
    }
}

@media (max-width: 750px) {
    .toShow{
        display: flex;
        flex-direction: column;
    }

    .toHide{
        display: none;
    }

    .container_row_left, .container_row_right {
        flex-direction: column;
        width: 600px;
        transform: none;
    }

    .text_right, .text_left {
        width: 600px;
        margin: 0;
        margin-top: 20px;
    }

    .img_chi_siamo {
        width: 600px;
    }

    .insta{
        width: 300px;
        height: 270px;
    }

    .svg{
        padding: 30px;
        width: 270px;
        height: 324px;
    }    

    .linea {
        display: block;
    }

    .mission{
        object-position: center -20px;
    }

    .margin_mission{
        margin-top: 43px;
    }

    .p_right, .p_left {
        margin-bottom: 40px;
        margin-top: 9px;
    }

    .marginAll_2{
        padding-top: 44px;
        padding-bottom: 0px;
    }

    .h3_responsive{
        margin-bottom: 5px !important;
    }
}

@media (max-width: 700px) {
    .containerSponsor {
        padding-bottom: 25px;
    }

    .container_row_left, .container_row_right {
        width: 500px;
    }

    .text_right, .text_left {
        width: 500px;
    }

    .img_chi_siamo {
        width: 500px;
    }

    .linea {
        width: 500px;
    }

    .insta{
        width: 300px;
    }

    .svg{
        width: 270px;
    }  
}

@media (max-width: 620px) {

    .container_row_left, .container_row_right {
        width: 450px;
    }

    .text_right, .text_left {
        width: 450px;
    }

    .img_chi_siamo {
        width: 450px;
    }

    .linea {
        width: 450px;
    }

    .insta{
        width: 300px;
        height: 270px;
    }

    .svg{
        padding: 30px;
        width: 270px;
        height: 324px;
    } 

    .p_right, .p_left {
        margin-top: 7px;
    }

    .h3_responsive{
        margin-bottom: 4px !important;
    }

    .container_chi_siamo {
        padding-bottom: 30px;
    }
}

@media (max-width: 530px) {
    .container_row_left, .container_row_right {
        width: 400px;
    }

    .text_right, .text_left {
        width: 400px;
    }

    .img_chi_siamo {
        width: 400px;
    }

    .linea {
        width: 400px;
    }

    .insta{
        width: 270px;
        height: 230px;
        margin-top: 10px;
    }

    .svg{
        padding: 20px;
        width: 240px;
        height: 288px;
    } 

    .p_right, .p_left {
        font-size: 12px;
        line-height: 16.5px;
    }

    .pepe{
        margin-top: 12px;
    }

    .csi{
        margin-top: 12px;
    }

    .container_chi_siamo {
        padding-bottom: 27px;
    }
}

@media (max-width: 500px) {
    .containerSponsor {
        padding-bottom: 20px;
    }

    .container_chi_siamo {
        padding-bottom: 24px;
    }
}

@media (max-width: 460px) {
    .container_row_left, .container_row_right {
        width: 350px;
    }

    .text_right, .text_left {
        width: 350px;
    }

    .img_chi_siamo {
        width: 350px;
        height: 300px;
    }

    .linea {
        width: 350px;
    }

    .insta{
        width: 270px;
        height: 230px;
        margin-top: 10px;
    }

    .svg{
        padding: 20px;
        width: 240px;
        height: 288px;
    } 

    .p_right, .p_left {
        font-size: 12px;
        line-height: 16.5px;
    }

    .pepe{
        margin-top: 12px;
    }

    .csi{
        margin-top: 12px;
    }
}

@media (max-width: 410px) {
    .container_row_left, .container_row_right {
        width: 300px;
    }

    .text_right, .text_left {
        width: 300px;
    }

    .img_chi_siamo {
        width: 300px;
        height: 250px;
    }

    .linea {
        width: 300px;
    }

    .insta{
        width: 270px;
        height: 230px;
        margin-top: 0px;
    }

    .svg{
        padding: 20px;
        width: 240px;
        height: 288px;
    } 

    .p_right, .p_left {
        margin-bottom: 31px;
    }

    .pepe{
        margin-top: 2px;
    }

    .csi{
        margin-top: 2px;
    }

    .margin_mission{
        margin-top: 35px;
    }

    .marginAll_2{
        padding-top: 35px;
    }
}