.wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    height: 80px;
    width: 100%;
}

/* Logo grande a sinistra */
.logoContainer {
    flex-shrink: 0;
    /* non si rimpicciolisce */
    height: 160px;
    /* circa il doppio dell'altezza navbar */
    display: flex;
    align-items: center;
}

.logo {
    height: 200px;
    width: auto;
    object-fit: contain;
}

/* Navbar centrale (prende tutto lo spazio rimasto) */
.navbar {
    flex: 1;
    background-color: transparent !important;
}

.navbar .nav-link {
    font-weight: 500;
    margin-right: 150px;
}

/* Container icone social a destra */
.socialIcons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.socialIcons img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 0.3s;
}

.socialIcons img:hover {
    filter: brightness(70%);
}