.navbar {
  background-color: #000;
  border-bottom: 2px solid rgb(241 189 9); /* linea verde */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  font-weight: bold;
  font-size: 17px;  
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.navMenu {
  margin: 0 80px;
}

.logo {
  height: 145px;
  position: absolute;
  left: 50%;
  transform: translateX(-41%);
  top: 3px;
}

.link {
  display: inline-block;
  color: #fff !important;
  margin: 0 20px;
  margin-top: 26px;
  margin-bottom: 4px;
  padding: 1px !important;
  padding-bottom: 2px !important;
  position: relative;
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0; 
  background-color: rgb(241 189 9);
  transition: width 0.2s ease;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  color: rgb(241 189 9) !important;
}