@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.appContainer {
  min-height: 100vh;
}

.overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.playerCard {
  width: 340px;        /* larghezza della card giocatore */
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
}

.cardImg {
  object-fit: cover;
  height: 500px;       /* altezza della card giocatore */   
  width: 100%;
  transition: transform 0.3s ease; /* animazione fluida */
  cursor: pointer; /* opzionale, mostra che è interattivo */
}

.cardImg:hover {
  transform: scale(1.1); /* ingrandimento al passaggio del mouse */
}

.section {
  margin-bottom: 70px;
}

.playerName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px black;
  margin-bottom: 9px;
  margin-right: 25px;
}

.playerNumber {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 5px black;
}

.text_img {
  align-items: end;
  justify-content: space-between;
  box-shadow: inset 0 20px 100px rgb(0 11 24) !important;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1500px;
  padding: 10px;
}

.title_rosa {
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
  font-size: calc(33px * 1.618) !important;
  color: white;
}

.hover_img {
  transition: all 0.5s ease;
  transform: scale(1.05);
  transform-origin: bottom center;
}

.hover_number {
  transition: all 0.5s ease;
  color: rgb(241 189 7);
}

.no_hover_img {
  transition: all 0.5s ease;
  transform: scale(1);
  transform-origin: bottom center;
}

.no_hover_number {
  transition: all 0.5s ease;
  color: white;
}

@media (max-width: 1500px) {
  .title_rosa {
    font-size: calc(30px * 1.618) !important;
    margin-bottom: 27px;
  }

  h3{
    font-size: 26px;
    margin-bottom: 18px !important;
  }

  .container{
    max-width: 1110px;
  }

  .section {
    margin-bottom: 67px;
  }
}

@media (max-width: 1220px) {
  .title_rosa {
    font-size: calc(26px * 1.618) !important;
    margin-bottom: 25px;
  }

  h3{
    font-size: 24px;
    margin-bottom: 16px !important;
  }
}

@media (max-width: 1130px) {
  .playerCard {
    width: 300px;
  }

  .cardImg {
    height: 440px;
  }

  .container {
    max-width: 990px;
  }

  .section {
    margin-bottom: 63px;
  }
}

@media (max-width: 1005px) {
  .container {
    max-width: 750px;
  }

  .playerCard {
    width: 340px;
  }

  .cardImg {
    height: 500px;
  }

  .section {
    margin-bottom: 59px;
  }
}


@media (max-width: 992px) {
  .title_rosa {
    font-size: calc(22px * 1.618) !important;
    margin-bottom: 23px;
  }

  h3{
    font-size: 22px;
    margin-bottom: 14px !important;
  }
}

@media (max-width: 768px) {
  .title_rosa {
    padding-top: 45px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 22px !important;
  }

  .playerCard {
    width: 300px;
  }

  .cardImg {
    height: 440px;
  }

  .container {
    max-width: 660px;
  }

  .section {
    margin-bottom: 55px;
  }
}

@media (max-width: 700px) {
  .title_rosa {
    font-size: calc(18px * 1.618) !important;
    margin-bottom: 21px !important;
  }

  h3{
    font-size: 20px;
    margin-bottom: 12px !important;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 80%;
  }

  .playerCard {
    width: 100%;
    margin-right: 0;
  }

  .cardImg {
    height: 650px;
  }

  .section {
    margin-bottom: 52px;
  }
}

@media (max-width: 610px) {
  .container {
    max-width: 85%;
  }
}

@media (max-width: 578px) {
  .title_rosa {
    padding-top: 40px;
  }

  .container {
    max-width: 90%;
  }

  .section {
    margin-bottom: 50px;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 500px) {
  .title_rosa {
    font-size: calc(15px * 1.618) !important;
    margin-bottom: 20px !important;
    max-width: 250px;
  }
  
  h3{
    font-size: 18px;
    margin-bottom: 10px !important;
  }

  .cardImg {
    height: 600px;
  }
}

@media (max-width: 460px) {
  .cardImg {
    height: 530px;
  }

  .section {
    margin-bottom: 45px;
  }

  .playerCard {
    margin-bottom: 0px;
  }
}

@media (max-width: 430px) {
  .cardImg {
    height: 500px;
  }
}

@media (max-width: 400px) {
  .cardImg {
    height: 470px;
  }
}

@media (max-width: 380px) {
  .title_rosa {
    padding-top: 45px;
  }

  .cardImg {
    height: 445px;
  }
}

@media (max-width: 380px) {
    .cardImg {
    height: 405px;
  }
}




/* Overlay: sfondo scuro che copre tutta la pagina */
.overlayCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* sfondo nero semi-trasparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* sopra al resto */
  animation: fadeIn 0.3s ease-in-out;
}

/* Contenitore interno */
.overlayContent {
  background: #1e1e1e;
  padding: 45px 65px;
  width: 1300px;
  text-align: center;
  color: white;  
  animation: slideUp 0.3s ease-in-out;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.overlayScroll{
  background: #1e1e1e;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

/* Immagine del player */
.overlayImg {
  height: 735px;
  width: 500px;  
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: solid 0.5px white;
}

/* Nome */
.overlayName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
  text-align: left;
  color: white;
}

.upperRight{
  display: flex;
  height: 110px;
  border-bottom: solid 1px white;
  margin-left: 40px;
  margin-right: 20px;
}

.instaImg {
  width: 24px;
  height: 24px;
}

.containerInsta{
  display: flex;
  justify-content: right;
  margin-top: 5px;
  margin-right: 21px;
}

.overlayContainerHeader {
  width: 550px;
}

.overlayRuolo {
  text-align: left;
  font-size: 18px;
  color: rgb(241 189 7);
  margin-bottom: 0px;
}

.overlayNation {
  width: 33px;
  height: 33px;
  border: solid 0.1px white;
  border-radius: 50%;
  transform: translateY(1px);
}

.overlayContainerSymbol{
  display: flex;
  height: 50px;
}

.numberPlayer {
  font-weight: bold;
  margin-right: 20px;
  color: rgb(241 189 7);
}

.numero{
  font-size: 43px;
  transform: translate(9px, -18px);
}

.description {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  text-align: justify;
  font-size: 15px;
}

.containerDescription {
  margin-top: 17px;
  margin-left: 40px;
  max-height: 570px;
  overflow-y: hidden; /* niente scrollbar */
  padding-right: 20px;
  transition: all 0.2s ease-in-out;
}

.containerDescriptionOverflow {
  overflow-y: auto; /* scrollbar visibile */
  margin-left: 60px;
  transform: translateX(-20px);
}

.overflowStyle {
  overflow-y: auto; /* scrollbar visibile */
}

/* Chrome, Edge, Safari */
.containerDescriptionOverflow::-webkit-scrollbar,
.overflowStyle::-webkit-scrollbar {
  width: 6px;               /* larghezza sottile */
}

.containerDescriptionOverflow::-webkit-scrollbar-track,
.overflowStyle::-webkit-scrollbar-track {
  background: transparent;   /* niente sfondo */
}

.containerDescriptionOverflow::-webkit-scrollbar-thumb,
.overflowStyle::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;       /* arrotondato */
  transition: background 0.3s ease;
}

.containerDescriptionOverflow::-webkit-scrollbar-thumb:hover,
.overflowStyle::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/* Firefox */
.containerDescriptionOverflow,
.overflowStyle {
  scrollbar-width: thin;          /* sottile */
  scrollbar-color: white transparent;
}

.overlayContainerHeader, .overlayContainerSymbol {
  margin-top: 22px;
}

/* Bottone Chiudi */
.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.closeBtn:hover {
  color: rgb(241 189 7);
}

/* Animazioni */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 1400px) {
  .overlayContent{
    padding: 35px 50px;
    width: 1100px;
  }

  .closeBtn {
    font-size: 24px;
  }

  .overlayImg {
    height: 650px;
    width: 443px;
  }

  .upperRight{
    margin-left: 30px;
  }

  .overlayContainerHeader {
    width: 450px;
  }

  .containerDescription{
    margin-left: 30px;
    max-height: 494px;
  }

  .containerDescriptionOverflow {
    margin-left: 50px;
  }
}

@media (max-width: 1150px) {
  .overlayContent{
    padding: 32px 45px;
    width: 960px;
  }

  .closeBtn {
    font-size: 24px;
  }

  .overlayImg {
    height: 550px;
    width: 375px;
  }

  .upperRight{
    margin-left: 30px;
    height: 95px ;
  }

  .overlayContainerHeader {
    width: 380px;
  }

  .containerDescription{
    margin-left: 30px;
    max-height: 404px;
  }

  .containerDescriptionOverflow {
    margin-left: 50px;
  }

  .description {
    font-size: 13px;
  }

  .overlayName{
    font-size: 25px;
  }

  .overlayRuolo{
    font-size: 15px;
  }

  .numero{
    font-size: 37px;
    transform: translate(9px, -15px);
  }

  .overlayNation{
    width: 28px;
    height: 28px;
    transform: translateY(2px);
  }
}

@media (max-width: 992px) {
  .overlayContent{
    padding: 32px 45px;
    width: 840px;
  }

  .closeBtn {
    font-size: 20px;
  }

  .overlayImg {
    height: 440px;
    width: 300px;
  }

  .overlayContainerHeader {
    width: 340px;
  }

  .containerDescription{
    margin-left: 30px;
    margin-top: 12px;
    max-height: 304px;
  }

  .containerDescriptionOverflow {
    margin-left: 50px;
  }

  .description {
    font-size: 12px;
  }

}

@media (max-width: 875px) {
  .overlayContent{
    padding: 28px 37px;
    width: 690px;
  }

  .closeBtn {
    font-size: 18px;
  }

  .overlayImg {
    height: 365px;
    width: 250px;
  }

  .overlayRuolo {
    font-size: 13px;
  }

  .overlayContainerHeader {
    width: 265px;
  }

  .containerDescription{
    margin-left: 30px;
    margin-top: 12px;
    max-height: 249px;
  }

  .containerDescriptionOverflow {
    margin-left: 40px;
  }

  .description {
    font-size: 11px;
  }

  .overlayName {
    font-size: 20px;
  }

  .upperRight {
    margin-left: 20px;
    height: 80px;
  }

  .overlayContainerSymbol, .overlayContainerHeader {
    margin-top: 17px;
  } 

  .numero {
    font-size: 32px;
    transform: translate(11px, -12px);
  }

  .overlayNation {
    width: 25px;
    height: 25px;
    transform: translateY(2px);
  }
}

@media (max-width: 710px) {
  .overlayContent{
    flex-direction: column;
    width: 510px;
    padding: 0;
    overflow-y: auto;
  }

  .overlayScroll{    
    padding: 28px 10px;
  }

  .closeBtn {
    font-size: 18px;
    top: 8px;
    right: 8px;
    transform: translateX(-17px);
  }

  .overlayImg {
    height: 300px;
    width: 470px;
    object-position: center top;
  }

  .overlayContainerHeader {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .containerDescription{
    margin-left: 0px;
    margin-top: 15px;
    max-height: 200px;
  }

  .containerDescription {
    margin-left: 20px;
  }

  .containerDescriptionOverflow {
    margin-left: 40px;
  }  

  .description {
    font-size: 11px;
  }

  .overlayName{
    font-size: 21px;
  }

  .overlayRuolo{
    font-size: 14px;
  }

  .overlayContainerSymbol{
    margin-top: 17px;
  }

  .numberPlayer {
    margin-right: 10px;
  }

  .numero{
    font-size: 28px;
    transform: translate(7px, -10px);
  }

  .overlayNation{
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 550px) {
  .overlayContent{
    width: 400px;    
  }

  .overlayScroll{    
    padding: 12px;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .closeBtn {
    font-size: 16px;
    top: 6px;
    right: 6px;
    transform: translateX(-17px);
  }

  .overlayImg {
    height: 275px;
    width: 360px;
  }

  .upperRight {
    height: 64px;
  }

  .overlayContainerHeader {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .containerDescription{
    margin-left: 0px;
    margin-top: 15px;
  }

  .containerDescription {
    margin-left: 20px;
  }

  .containerDescriptionOverflow {
    margin-left: 40px;
  }  

  .description {
    font-size: 10px;
  }

  .overlayName{
    font-size: 19px;
    margin-bottom: 0px;
  }

  .overlayRuolo{
    font-size: 12px;
  }

  .overlayContainerHeader{
    margin-top: 12px;
  }

  .overlayContainerSymbol {
    margin-top: 13px;
  }

  .numberPlayer {
    margin-right: 10px;
  }

  .numero{
    font-size: 25px;
    transform: translate(7px, -8px);
  }

  .overlayNation{
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .overlayContent{
    width: 345px;
  }

  .overlayScroll{    
    padding: 25px 8px;
    padding-top: 30px;
  }

  .closeBtn {
    font-size: 16px;
    top: 5px;
    right: 5px;
    transform: translateX(-20px);
  }

  .overlayImg {
    height: 280px;
    width: 300px;
  }

  .upperRight {
    height: 60px;
  }

  .overlayContainerHeader {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .containerDescription{
    margin-left: 0px;
    margin-top: 10px;
  }

  .containerDescription {
    margin-left: 20px;
  }

  .containerDescriptionOverflow {
    margin-left: 40px;
  }  

  .description {
    font-size: 10px;
  }

  .overlayName{
    font-size: 17px;
    margin-bottom: 0px;
  }

  .overlayRuolo{
    font-size: 11px;
  }

  .overlayContainerHeader{
    margin-top: 12px;
  }

  .overlayContainerSymbol {
    margin-top: 13px;
  }

  .numberPlayer {
    margin-right: 10px;
  }

  .numero{
    font-size: 25px;
    transform: translate(7px, -8px);
  }

  .overlayNation{
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 390px) {
  .overlayContent{
    width: 310px;
  }

  .overlayScroll{    
    padding: 25px 8px;
    padding-top: 30px;
  }

  .closeBtn {
    font-size: 16px;
    top: 5px;
    right: 5px;
  }

  .overlayImg {
    height: 280px;
    width: 280px;
  }

  .upperRight {
    height: 60px;
  }

  .overlayContainerHeader {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .containerDescription{
    margin-left: 0px;
    margin-top: 10px;
  }

  .containerDescription {
    margin-left: 20px;
  }

  .containerDescriptionOverflow {
    margin-left: 40px;
  }  

  .description {
    font-size: 10px;
  }

  .overlayName{
    font-size: 17px;
    margin-bottom: 0px;
  }

  .overlayRuolo{
    font-size: 11px;
  }

  .overlayContainerHeader{
    margin-top: 12px;
  }

  .overlayContainerSymbol {
    margin-top: 13px;
  }

  .numberPlayer {
    margin-right: 10px;
  }

  .numero{
    font-size: 25px;
    transform: translate(7px, -8px);
  }

  .overlayNation{
    width: 20px;
    height: 20px;
  }
}


@media (max-height: 840px) {
  .overlayImg {
    max-height: 600px;
  }

  /* 
  .containerDescription {
    max-height: 444px;
  }
  */  
}

@media (max-height: 710px) {
  .overlayImg {
    max-height: 500px;
  }

  .overlayContent{
    max-height: 570px;
  }

  /* 
  .containerDescription {
    max-height: 344px;
  }
  */  
}

@media (max-height: 630px) {
  .overlayImg {
    max-height: 450px;
  }

  /* 
  .containerDescription {
    max-height: 294px;
  }
  */  
}

@media (max-height: 580px) {
  .overlayImg {
    max-height: 400px;
  }

  /* 
  .containerDescription {
    max-height: 244px;
  }
  */  
}