* {
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Bree Serif', Georgia, serif;
}

body {
  margin: 0;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Bree Serif', Georgia, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
  top: 50% !important;
  bottom: 50% !important;
}

#sfondoSito {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #sfondoSito {
    width: 120%;
    transform: translateX(-5%);
  }
}


@media (max-width: 576px) {
  #sfondoSito {
    width: 150%;
    transform: translateX(-10%);
  }
}