* {
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Bree Serif', Georgia, serif;
}

body {
  margin: 0;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Bree Serif', Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

  /* fallback vecchi browser */
  min-height: 100vh;

  /* fallback per Safari iOS vecchi */
  min-height: -webkit-fill-available;

  /* soluzione moderna (iOS 16+, Android 12+, Chrome/Firefox recenti) */
  min-height: 100dvh;

  background-image: url('../public/img/Sfondo_FFC_1.png');
  background-size: 100% auto;     /* larghezza = 100% del div, altezza proporzionata */
  background-position: top left; /* l'immagine parte dall'angolo in alto a sinistra del div */
}

.sticky-top {
  z-index: 999 !important;
}

.section-title {
  color: white !important;
  font-weight: normal !important;
  margin-bottom: 10px !important;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
  top: 50% !important;
  bottom: 50% !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
  opacity: 0.5 !important;
  font-size: 20px !important;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 1 !important;
  transition: opacity 0.3s;
}

::after {
    font-size: 30px !important;
}

#sfondoSito {
  width: 100%;
  height: auto;
}

.is-blurred { filter: blur(5px); }
.is-blurred, .is-blurred * { pointer-events: none !important; }

@media (max-width: 768px) {
  #sfondoSito {
    width: 120%;
    transform: translateX(-5%);
  }

  ::after {
    font-size: 25px !important;
  }
}


@media (max-width: 576px) {
  #sfondoSito {
    width: 150%;
    transform: translateX(-10%);
  }

  ::after {
    font-size: 20px !important;
  }
}


#container_carosello {  
  padding-top: 50px;
  padding-bottom: 50px;
}

#risultato {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  #container_carosello {  
    padding-top: 33px;
    padding-bottom: 27px;
  }

  #risultato {
    padding-bottom: 20px;
  }
}

@media (max-width: 720px) {
  #risultato {
    padding-bottom: 15px;
  }
}

@media (max-width: 500px) {
  #container_carosello {  
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #risultato {
    padding-bottom: 10px;
  }
}

